/* Section */


#contact {
    padding: 40px 0px;
    margin-bottom: 10px;
    background: linear-gradient(to left, #aea2efc4, #353555);
    opacity: 50%;
    transform: translateX(-100px);
    transition: opacity 1s ease, transform 2.5s ease;


}

/* Define animation when the form enters the viewport */
#contact.animate-item {
    opacity: 1;
    transform: translateX(0);

}


/* Heading */
#contact h4 {
    text-align: center;

}

/* Form */
#contact-form {
    width: 350px;
    margin: 0 auto;


}

/* Form inputs */
.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ced4da;
}

.textarea {
    resize: vertical;
}

/* Button */
.btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.btn-primary i {
    margin-left: 5px;
}