<section class="experience-section container">
    <h2 class="section-head">EXPERIENCE</h2>
    <div class="timeline">
        <div class="row py-3">
            <div class="col-lg-5 timeline-details text-center " [ngClass]="{'animate': animate}">
                <h4 style="font-size: 20px;">SOFTWARE DEVELOPMENT CONSULTANT</h4>
                <p>FDM Group</p>
            </div>
            <div class="col-lg-2 pt-4 align-items-center text-center justify-items-center">
                <img class="timeline-icon" src="../../../assets/fdm.jpeg" alt="">
            </div>
            <div class="col-lg-5 pt-4">
                <span class="timeline-date fdm-date">Oct 2022 - June 2023</span>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-5 pt-4">
                <span class="timeline-date">April 2021 - October 2022</span>
            </div>
            <div class="col-lg-2 pt-4 align-items-center text-center justify-items-center">
                <img class="timeline-icon" src="../../../assets/mskims.png" alt="">
            </div>
            <div class="col-lg-5 timeline-details text-center" [ngClass]="{'animate': animate}">
                <h4 style="font-size: 20px;">MANAGER/BARTENDER</h4>
                <p>Ms.Kims</p>
            </div>


        </div>

        <div class="row py-3">
            <div class="col-lg-5  timeline-details text-center" [ngClass]="{'animate': animate}">
                <h4 style="font-size: 20px;">F & B ATTENDANT</h4>
                <p>1 Hotel</p>
            </div>
            <div class="col-lg-2 pt-4 align-items-center text-center justify-items-center">
                <img class="timeline-icon" src="../../../assets/1hotel.jpeg" alt="">
            </div>
            <div class="col-lg-5 pt-4">
                <span class="timeline-date">June 2019 - March 2020</span>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-5 pt-4">
                <span class="timeline-date">Feb 2017 - June 2019</span>
            </div>
            <div class="col-lg-2 pt-4 align-items-center text-center justify-items-center">
                <img class="timeline-icon" src="../../../assets/capitalone.png" alt="">
            </div>
            <div class="col-lg-5 timeline-details text-center" [ngClass]="{'animate': animate}">
                <h4 style="font-size: 20px;">BRANCH AMBASSADOR</h4>
                <p>Capital One Bank</p>
            </div>

        </div>
    </div>
</section>